auto-save-list/
bookmarks
custom-vars.el
elpa/
eshell/
games/
history
ido.last
multisession/
places
recentf
smex-items
tramp
transient/
url/
/.lsp-session-v1
/autosaves/
/projects
/.org-id-locations
/tree-sitter/
/backups/
